{% extends "base.html.twig" %}


{% block titke %}Admin
{% endblock %}


{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-8">
				<h1>Admin Place</h1>
			</div>


		</div>

		<div class="row">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">
					<p>{{message}}</p>
				</div>
			{% endfor %}
			<div class="md-3">
				<a href="{{ path("admin_new") }}" class="btn link">Créer</a>
				<a href="{{path('new_equipement')}}" class='btn link'>Modifier Equipement</a>
				<a href="{{path('new_service')}}" class='btn link'>Modifier Service</a>

			</div>
			<div class="d-flex justify-content-center">
				{{ knp_pagination_render(gites,"pagination/twitter_bootstrap_v4_pagination.html.twig") }}
			</div>
			<table class="table table-striped">
				<thead>
					<th># id</th>
					<th>Nom</th>
					<th>Action</th>

				</thead>
				<tbody>

					{% for gite in gites %}
						<tr>
							<td>{{gite.id}}</td>
							<td>{{gite.name}}</td>
							<td>
								<a href="{{path("admin_change",{id:gite.id})}}" class='btn btn-primary'>Editer</a>
							</td>
							<td>
								<a href="{{path("admin_delete",{id:gite.id})}}" class="btn btn-danger">Suprimer</a>

							</td>
						</tr>

					{% endfor %}

				</tbody>
			</table>

			<div class="d-flex justify-content-center">
				{{ knp_pagination_render(gites,"pagination/twitter_bootstrap_v4_pagination.html.twig") }}
			</div>
		</div>
	{% endblock %}
