{% extends "base.html.twig"%}

{% block title %}les Gites
{% endblock %}


{% block body %}

	<div class="row">
		<div class="col-md-6">
			<h1>les gites disponible</h1>
		</div>
		<div class="col-md-6">
			<input type="button" id='btn-search' class="btn btn-primary" value='Trouver un gite'>
		</div>

		<div class="col-md-12 d-none" id='form-search'>
			{{ form_start(form) }}
			<div class="row">
				<div class="col-6">
					<div class="row">
						<div class="col-12">{{ form_row(form.city) }}</div>
						<div class="col-4">{{ form_row(form.minSurface) }}</div>
						<div class="col-4">{{ form_row(form.minBedroom) }}</div>

						<div class="col-4">{{ form_row(form.animals) }}</div>


					</div>
				</div>
				<div class="col-6">
					<div class="row">


						<div class="col-6">{{ form_row(form.equipements) }}</div>
						<div class="col-6">{{ form_row(form.services) }}</div>
					</div>
				</div>
			</div>


			<div class="col"><input type="submit" class='btn btn-outline-primary' value='Rechercher'>

			</div>

			{{ form_end(form) }}
		</div>


	</div>
	<div class="row">
		<div class="d-flex justify-content-center">
			{{ knp_pagination_render(gites,"pagination/twitter_bootstrap_v4_pagination.html.twig") }}
		</div>

		{% for gite in gites %}


			<div class="card m-4" style="width: 18rem;">

				{% if gite.imageFile %}
					<img src=" {{vich_uploader_asset(gite,'imageName')}} " class='card-img-top' alt="">

				{% else %}
					<img src=" /images/img/notfound.jpg " class='card-img-top' alt="">

				{% endif %}

				<div class="card-body">
					<h3 class="card-title">{{gite.name}}</h3>
					<h5 class="card-title">{{gite.createdAt | format_datetime()}}</h5>
					<h3 class="card-title">{{gite.city}}</h3>
					<h4 class="card-text">surface :
						{{gite.surface}}</h4>
					<h4 class="card-text">Chambre :
						{{gite.bedroom}}</h4>
					<p class="card-text">{{gite.description}}</p>
					<p class="card-text">{{gite.postalCode}}</p>

				</div>
				<a class='btn btn-primary' href='{{ path("gite_show",{id:gite.id}) }}'>Voir le gite</a>

			</div>

		{% endfor %}

		<div class="d-flex justify-content-center">
			{{ knp_pagination_render(gites,"pagination/twitter_bootstrap_v4_pagination.html.twig") }}
		</div>
	</div>
{%  endblock %}
