{%  extends "base.html.twig" %}


{% block title %}
	le Gite
{% endblock  %}

{% block body %}
	<h1>Le Gite :
	</h1>
	<div class="row">
		{{ form_start(form) }}
		{{ form_widget(form) }}
		<input type="submit" class='btn btn-outline-primary' value='Envoyer'>
		{{ form_end(form) }}

	</div>
	<div class="row">
		<h1 class="card-title">{{gite.name}}</h1>
		<div class="row">
			<img src="{{vich_uploader_asset(gite,'imageName')}}" class='card-img-top' alt="">
			<p class="">{{gite.description}}</p>
			<div class="col-md-6">
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Surface</th>
							<td>{{gite.surface}}</td>
						</tr>
						<tr>
							<th>Chambre</th>
							<td>{{gite.bedroom}}</td>
						</tr>
						<tr>
							<th>Animaux</th>
							{% if gite.animals %}

								<td>Accepter</td>
							{% else %}
								<td>Refuser</td>
								{% endif%}
							</tr>
						</tr>
						<tr>
							<th>Equipement</th>
							<td>
								{% for equipement in gite.equipements %}

									<li>{{equipement.name}}</li>

								{% endfor %}
							</td>
						</tr>
						<tr>
							<th>Service</th>
							<td>
								{% for service in gite.services %}

									<li>{{service.name}}</li>

								{% endfor %}
							</td>
						</tr>
					</thead>

				</table>
			</div>


		</div>

	</div>
</div>{% endblock  %}
